<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
         <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Register</title>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<link href="../../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
<script src="js/register.js"></script>
</head>
<body>
<div class="container" id="registerForm">
	<div class="row">
        <div class="col-md-12">
            <form th:action="@{/signUp/courier/validate}" method="post" id="fileForm" role="form">
            <fieldset><legend class="text-center">Fill in the registration form. </legend>

            <div class="form-group">
                <label for="username"><span class="req">* </span> Enter username: </label>
                    <input required class="form-control" type="text" minlength="6" maxlength=" 32" name="username" id = "username" onkeyup = "validateNickname(this)" placeholder="minimum 6 letters" />
            </div>

            <div class="form-group">
                <label for="firstName"><span class="req">* </span> Enter First name: </label>
                    <input required type="text" name="firstName" id = "firstName" class="form-control" maxlength="32" onkeyup = "validateFirstName(this); return false;" placeholder="First Name"/>
            </div>

            <div class="form-group">
                <label for="lastName"><span class="req"> </span> Enter Last name: </label>
                    <input required class="form-control" type="text" name="lastName" id = "lastName" maxlength="45" onkeyup = "validateLastName(this); return false;" placeholder="Last Name" />
            </div>

            <div class="form-group">
                <label for="email"><span class="req">* </span> Enter Email: </label>
                    <input required class="form-control" type="text" name="email" id = "email" minlength="6" maxlength="32"  onchange="email_validate(this.value); return false;" />
                       <div class="status" id="emailStatus"></div>
            </div>

            <div class="form-group">
                <label for="password"><span class="req">* </span> Password: </label>
                    <input required name="password" type="password" class="form-control inputpass" minlength="6"  maxlength="16"  id="pass1" onchange="checkPass(); return false;" />

                <label for="password"><span class="req">* </span> Confirm Password: </label>
                    <input required name="password" type="password" class="form-control inputpass" minlength="6" maxlength="16" placeholder="Enter again to validate"  id="pass2" onkeyup="checkPass(); return false;" />
                        <span id="confirmMessage" class="confirmMessage"></span>
            </div>

            <div class="form-group">
                <input formmethod="post" class="btn btn-success" type="submit" name="submit_reg" value="Register" >
            </div>
            </fieldset>
            </form>

        </div>

	</div>
</div>

</body>
</html>