<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courier Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../static/css/main.css" />

</head>
<body>
    <h4>Show Courier Orders</h4>
    <br/>
        <a href="showCourierOrders">Show orders</a>
    <br/>

    <h4>Show status</h4>
    <br/>
        <a href="courierStatus">Ready</a>
    <br/>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
