<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courier Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../static/css/main.css" />

</head>
<body>

<table class="tg">
    <tr>
        <th width="120">ReadyToGo</th>
        <th width="120">Activate</th>
        <th width="120">Deactivate</th>

    </tr>
    <tr>
        <td><p th:text="${status.readyToGo}" ></p></td>
        <td><a href="activate">activate</a></td>
        <td><a href="deactivate">deactivate</a></td>
    </tr>
</table>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>