<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Cuber</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        			  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- JQuery UI-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700,800" rel="stylesheet">
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script th:src="@{/js/signUpCheck.js}" ></script>
    <script th:src="@{/js/index.js}" ></script>
    <script th:src="@{/js/dashboard.js}" ></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/ui.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body>
<div id="initial-frame">
<!-- header -->
    <section class="py-2 main-page-header">
        <div class="container">
              <!-- header -->
        <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">

                    <h1>
                        <a class="navbar-brand" href="/" id="cuberBrand">CUBER</a>
                    </h1>
                    <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-lg-auto text-center">
                            <li class="nav-item active  mr-3">
                                <a class="nav-link" href="index.html" th:text="#{main.nav.home}">
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item  mr-3">
                                <a class="nav-link" href="about.html" th:text="#{main.nav.about}"></a>
                            </li>
                            <li class="nav-item mr-3">
                                <a class="nav-link pointer" id="dashboard-open" th:text="#{main.nav.dashboard}"></a>
                            </li>

                            <li class="nav-item mr-3">
                                <button type="button" class="btn btn-secondary pointer" id="sign-out" th:text="#{signout}"></button>
                            </li>
                            <li>
                                <ul class="languagepicker roundborders">
                                    <li><strong th:text="#{Language}"></strong></li>
                                    <li><img th:src="@{/images/icons/i18n/english.png}" class="small-icon"/><a href="?ln=en" th:text="#{English}" class="nav-item"></a></li>
                                	<li><img th:src="@{/images/icons/i18n/russian.png}" class="small-icon"/><a href="?ln=ru" th:text="#{Russian}" class="nav-item"></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </nav>
        </header>
        <!-- //header -->
        </div>
    </section>
<!-- //header -->
<!-- banner bottom -->
    <section id="initial-frame-body">
        <div class="container" id="initial-frame-body-container">
            <div class="col-md-12" id="logreg-container">
                <div id="logreg-form">
                    <form id="loginForm">
                        <fieldset>
                        <div class="login-form-group">
                            <label for="log-username" th:text="#{main.log.login.label}"></label>
                                <input required class="form-control" type="text" minlength="4" maxlength=" 32" name="username" id = "log-username" />
                        </div>

                        <div class="form-group">
                            <label for="password" th:text="#{main.log.pass.label}"></label>
                                <input required name="password" type="password" class="form-control inputpass"  id="password"  />
                        </div>

                        <div class="form-group" role="group">
                            <input formmethod="post" class="btn btn-primary logreg-btn" type="submit" name="submit_log" th:value="#{signIn}" id="submit_log" >
                            <span th:text="#{Or}"></span>
                            <button type="button" class="btn btn-success logreg-btn" id="to-reg" th:text="#{signUp}"></button>
                        </div>
                        </fieldset>
                    </form>
                    <form id="regForm">
                        <fieldset>
                        <label class="radio-inline"><input type="radio" name="type" value="ROLE_COURIER" th:text="#{Courier}"></label>
                        <label class="radio-inline"><input type="radio" name="type" value="ROLE_CLIENT" th:text="#{Client}"></label>

                        <div class="reg-form-group">
                            <label for="username" th:text="#{Enter.username}"><span class="req">* </span></label>
                                <input required class="form-control" type="text" minlength="6" maxlength=" 32" name="username" id = "username" onkeyup = "validateUsername(this)" th:placeholder="#{reg.username.placeholder}" />
                        </div>

                        <div class="form-group">
                            <label for="firstName" th:text="#{Enter.firstname}"><span class="req">* </span></label>
                                <input required type="text" name="firstName" id = "firstName" class="form-control" maxlength="32" onkeyup = "validateFirstName(this); return false;" th:placeholder="#{reg.firstname.placeholder}"/>
                        </div>

                        <div class="form-group">
                            <label for="lastName" th:text="#{Enter.lastname}"><span class="req"> </span></label>
                                <input required class="form-control" type="text" name="lastName" id = "lastName" maxlength="45" onkeyup = "validateLastName(this); return false;" th:placeholder="#{Enter.lastname}" />
                        </div>

                        <div class="form-group">
                            <label for="age" th:text="#{Enter.your.age}"><span class="req">* </span></label>
                                <input required class="form-control" type="number" name="age" id = "age" min="18" onkeyup = "validateAge(this); return false;" th:placeholder="#{reg.age.placeholder}" />
                        </div>

                        <div class="form-group">
                            <label for="email" th:text="#{Email}"><span class="req">* </span></label>
                                <input required class="form-control" type="text" name="email" id = "email" minlength="6" maxlength="32"  onchange="email_validate(this.value); return false;" />
                                   <div class="status" id="emailStatus"></div>
                        </div>

                        <div class="form-group">
                            <label for="password" th:text="#{Password}"><span class="req">* </span></label>
                                <label for="pass1"></label><input required name="password" type="password" class="form-control inputpass" minlength="6"  maxlength="16"  id="pass1" onchange="checkPass(); return false;" />

                            <label for="password" th:text="#{Confirm.password}"><span class="req">* </span></label>
                                <input required name="password" type="password" class="form-control inputpass" minlength="6" maxlength="16" th:placeholder="#{Enter.again}"  id="pass2" onkeyup="checkPass(); return false;" />
                                    <span id="confirmMessage" class="confirmMessage"></span>
                        </div>

                        <div class="form-group">
                            <input formmethod="post" class="btn btn-success logreg-btn" type="submit" name="submit_reg" th:value="#{signUp}" id="testId"/>
                            <span th:text="#{Or}"></span>
                            <button type="button" class="btn btn-primary logreg-btn" id="to-log" th:text="#{signIn}"></button>
                        </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div id="quick-order-management">
                <div id="management-window" class="div">
                    <div class="orders-div">
                        <header>Your Orders</header>
                        <nav>
                            <ul id="orders-div-select-list">
                            </ul>
                        </nav>
                    </div>
                    <div id="order-management-div">
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- //banner bottom -->
<!-- modals-->
</div>
<div id="dashboard">
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <h3 class="navbar-brand col-sm-3 col-md-2 mr-0 cuberBrand dash">CUBER</h3>
      <input class="form-control form-control-dark w-100" type="text" placeholder="" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link pointer" id="signout-dashboard" th:text="#{signout}"></a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" id="sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item client-dashboard">
                <a class="nav-link pointer" id="new-order">
                  <span th:text="#{Add.new.order}"></span>
                </a>
              </li>
              <li class="nav-item client-dashboard">
                <a class="nav-link pointer" id="show-all-client-orders">
                  <span th:text="#{Show.my.orders}"></span>

                </a>
              </li>
              <li class="nav-item courier-dashboard">
                <a class="nav-link pointer" id="show-all-courier-orders">
                  <span th:text="#{Show.my.orders}"></span>
                </a>
              </li>
              <li class="nav-item courier-dashboard">
                <a class="nav-link pointer" id="status-management">
                  <span th:text="#{Status.management}"></span>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" id="dashboard-body" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="dashboard-fields">
                <div class="client-field new-order">
                <div class="form-block">
                <h2 id="new-order-title" th:text="#{New.order.form}"></h2>
                <h3 class="new-order-successful" th:text="#{Order.successfully.added}"></h3>
                <h3 class="new-order-failure" th:text="#{Not.valid.data}"></h3>
                <form id="new-order-form">
                    <fieldset>
                        <div class="form-group">
                            <label for="productName" th:text="#{Enter.product.name}"></label>
                                <input required class="form-control" type="text" minlength="2" maxlength=" 32" name="productName" id = "productName" />
                        </div>
                        <div class="form-group">
                            <label for="weight" th:text="#{Enter.weight}"></label>
                                <input required class="form-control" type="number" max="800" name="weight" id = "weight" placeholder="max 800" />
                        </div>
                        <div class="form-group">
                            <label for="volume" th:text="#{Enter.volume}"></label>
                                <input required class="form-control" type="number" max="800" name="volume" id = "volume" placeholder="max 700" />
                        </div>
                        <div class="form-group">
                            <label for="fromNode" th:text="#{From}"></label>
                                <input required class="form-control" type="text" name="fromNode" id = "fromNode"  />
                        </div>
                        <div class="form-group">
                            <label for="toNode" th:text="#{To}"></label>
                                <input required class="form-control" type="text" name="toNode" id = "toNode" />
                        </div>
                        <div class="form-group">
                            <label for="price" th:text="#{Price}"></label>
                                <input required class="form-control" type="number" name="price" id = "price" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <input formmethod="post" class="btn btn-success" type="submit" name="submit-new-order" th:value="#{Create}" id="submit-new-order" disabled/>
                            <button class="btn btn-primary" type="button" id="calculate-price" th:text="#{Calculate.price}"></button>

                        </div>
                    </fieldset>

                </form>
                </div>
                </div>
                <div class="client-field show-all-client-orders">
                    <table class="tg" id="show-all-client-orders-table"></table>
                </div>
                <div class="client-field show-all-courier-orders">
                    <table class="tg" id="show-all-courier-orders-table"></table>
                </div>
                <div class="client-field status-management">
                    <div class="ready-to-go div">
                        <h3 th:text="#{Status}"></h3>
                        <div class="toggle">
                            <input type="radio" name="status" value="Ready" id="ready-to-go-radio" />
                            <label for="ready-to-go-radio" th:text="#{Ready}"></label>
                            <input type="radio" name="status" value="notReady" id="not-ready-radio" />
                            <label for="not-ready-radio" th:text="#{Not.ready}"></label>
                        </div>
                    </div>
                    <div class="current-node div">
                    <h3 th:text="#{Current.destination.setup}"></h3>
                        <form id="current-node-form">
                            <div class="form-group">
                                <label for="currentNodeId" th:text="#{Current.destination}"></label>
                                <input required class="small-width" type="number" name="currentNodeId" id="currentNodeId">
                            </div>
                            <div class="form-group">
                                <input formmethod="post" class="btn btn-primary" type="submit" name="submit-current-node-id" th:value="#{Confirm}" id="submit-current-node-id"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </main>
      </div>
    </div>
</div>

<div id="errorModal" class="modal">
  <div id="errorBody"></div>
</div>
<div id="succRegModal" class="modal">
  <div id="succRegBody"></div>
</div>
<div id="RegErrorModal" class="modal">
  <div id="RegErrorBody"></div>
</div>

</body>
</html>
