<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        			  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700,800" rel="stylesheet">
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script th:src="@{/js/signUpCheck.js}" ></script>
    <script th:src="@{/js/index.js}" ></script>
    <script th:src="@{/js/dashboard.js}" ></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/ui.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body>
<div id="initial-frame">
<!-- header -->
    <section class="py-2 main-page-header">
        <div class="container">
              <!-- header -->
        <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary">

                    <h1>
                        <a class="navbar-brand" href="/" id="headerCuber">CUBER</a>
                    </h1>
                    <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-lg-auto text-center">
                            <li class="nav-item active  mr-3">
                                <a class="nav-link" href="index.html">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item  mr-3">
                                <a class="nav-link" href="about.html">about</a>
                            </li>
                             <li class="nav-item  mr-3">
                                <a class="nav-link" href="services.html">Services</a>
                            </li>
                            <li class="nav-item mr-3">
                                <a class="nav-link pointer" id="dashboard-open">Open Dashboard</a>
                            </li>

                            <li class="nav-item mr-3">
                                <button type="button" class="btn btn-secondary pointer" id="sign-out">SignOut</button>
                            </li>
                        </ul>
                    </div>

                </nav>
        </header>
        <!-- //header -->
        </div>
    </section>
<!-- //header -->
<!-- banner -->
    <section class="main-body">
        <div class="main-picture">
            <img id="main-picture" class="container-fluid" th:src="@{images/main-picture.png}">
        </div>
    </section>
<!-- //banner -->
<!-- banner bottom -->
    <section id="logreg">

        <div class="container" id="logregFormDiv">
            <div class="col-md-12">
                <div id="logreg-form">
                    <form id="loginForm">
                        <fieldset>
                        <div class="login-form-group">
                            <label for="username"> Enter your username: </label>
                                <input required class="form-control" type="text" minlength="4" maxlength=" 32" name="username" id = "username" />
                        </div>

                        <div class="form-group">
                            <label for="password"> Enter your password: </label>
                                <input required name="password" type="password" class="form-control inputpass"  id="password"  />
                        </div>

                        <div class="form-group" role="group">
                            <input formmethod="post" class="btn btn-primary" type="submit" name="submit_log" value="SignIn" id="submit_log" >
                            <span>or</span>
                            <button type="button" class="btn btn-success" id="to-reg">SignUp</button>
                        </div>
                        </fieldset>
                    </form>
                    <form id="regForm">
                        <fieldset>
                        <label class="radio-inline"><input type="radio" name="type" value="ROLE_COURIER">Courier</label>
                        <label class="radio-inline"><input type="radio" name="type" value="ROLE_CLIENT">Client</label>

                        <div class="reg-form-group">
                            <label for="username"><span class="req">* </span> Enter username: </label>
                                <input required class="form-control" type="text" minlength="6" maxlength=" 32" name="username" id = "username" onkeyup = "validateUsername(this)" placeholder="minimum 6 letters" />
                        </div>

                        <div class="form-group">
                            <label for="firstName"><span class="req">* </span> Enter First name: </label>
                                <input required type="text" name="firstName" id = "firstName" class="form-control" maxlength="32" onkeyup = "validateFirstName(this); return false;" placeholder="First Name"/>
                        </div>

                        <div class="form-group">
                            <label for="lastName"><span class="req"> </span> Enter Last name: </label>
                                <input required class="form-control" type="text" name="lastName" id = "lastName" maxlength="45" onkeyup = "validateLastName(this); return false;" placeholder="Last Name" />
                        </div>

                        <div class="form-group">
                            <label for="age"><span class="req">* </span> Enter Your Age: </label>
                                <input required class="form-control" type="number" name="age" id = "age" min="18" onkeyup = "validateAge(this); return false;" placeholder="Age" />
                        </div>

                        <div class="form-group">
                            <label for="email"><span class="req">* </span> Enter Email: </label>
                                <input required class="form-control" type="text" name="email" id = "email" minlength="6" maxlength="32"  onchange="email_validate(this.value); return false;" />
                                   <div class="status" id="emailStatus"></div>
                        </div>

                        <div class="form-group">
                            <label for="password"><span class="req">* </span> Password: </label>
                                <label for="pass1"></label><input required name="password" type="password" class="form-control inputpass" minlength="6"  maxlength="16"  id="pass1" onchange="checkPass(); return false;" />

                            <label for="password"><span class="req">* </span> Confirm Password: </label>
                                <input required name="password" type="password" class="form-control inputpass" minlength="6" maxlength="16" placeholder="Enter again"  id="pass2" onkeyup="checkPass(); return false;" />
                                    <span id="confirmMessage" class="confirmMessage"></span>
                        </div>

                        <div class="form-group">
                            <input formmethod="post" class="btn btn-success" type="submit" name="submit_reg" value="Register" id="testId"/>
                            <span>or</span>
                            <button type="button" class="btn btn-primary" id="to-log">SignIn</button>
                        </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
<!-- //banner bottom -->
<!-- modals-->
</div>
<div id="dashboard">
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <h3 class="navbar-brand col-sm-3 col-md-2 mr-0">Cuber</h3>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link pointer" id="signout-dashboard">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item client-dashboard">
                <a class="nav-link pointer" id="new-order">
                  <span data-feather="file"></span>
                  Add New Order
                </a>
              </li>
              <li class="nav-item client-dashboard">
                <a class="nav-link pointer" id="show-all-client-orders">
                  <span data-feather="shopping-cart"></span>
                  Show My Orders
                </a>
              </li>
              <li class="nav-item courier-dashboard">
                <a class="nav-link pointer" id="show-all-courier-orders">
                  <span data-feather="users"></span>
                  Show My Orders
                </a>
              </li>
              <li class="nav-item courier-dashboard">
                <a class="nav-link pointer" id="status-management">
                  <span data-feather="bar-chart-2"></span>
                  Status Management
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" id="dashboard-body" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="dashboard-fields">
                <div class="client-field new-order">
                <h2 id="new-order-title">New Order Form</h2>
                <h3 class="new-order-successful">Order successfully added</h3>
                <h3 class="new-order-failure">Not valid data!</h3>
                <form id="new-order-form">
                    <fieldset>
                        <div class="form-group">
                            <label for="productName"> Enter Product Name: </label>
                                <input required class="form-control" type="text" minlength="6" maxlength=" 32" name="productName" id = "productName" placeholder="minimum 6 letters" />
                        </div>
                        <div class="form-group">
                            <label for="weight"> Enter weight: </label>
                                <input required class="form-control" type="number" max="800" name="weight" id = "weight" placeholder="max 800" />
                        </div>
                        <div class="form-group">
                            <label for="volume"> Enter volume: </label>
                                <input required class="form-control" type="number" max="800" name="volume" id = "volume" placeholder="max 700" />
                        </div>
                        <div class="form-group">
                            <label for="fromNodeId"> Enter from Id: </label>
                                <input required class="form-control" type="number" name="fromNodeId" id = "fromNodeId"  />
                        </div>
                        <div class="form-group">
                            <label for="toNodeId"> Enter to Id: </label>
                                <input required class="form-control" type="number" name="toNodeId" id = "toNodeId" />
                        </div>
                        <div class="form-group">
                            <label for="price"> Calculated price: </label>
                                <input required class="form-control" type="number" name="price" id = "price" disabled="disabled" />
                        </div>
                        <div class="form-group">
                            <input formmethod="post" class="btn btn-success" type="submit" name="submit-new-order" value="Create" id="submit-new-order" disabled/>
                            <button class="btn btn-primary" type="button" id="calculate-price">Calculate Price</button>

                        </div>
                    </fieldset>

                </form>
                </div>
                <div class="client-field show-all-client-orders">
                    <table class="tg" id="show-all-client-orders-table"></table>
                </div>
                <div class="client-field show-all-courier-orders">
                    <table class="tg" id="show-all-courier-orders-table"></table>
                </div>
                <div class="client-field status-management">
                    <div class="ready-to-go div">
                        <h3>Status</h3>
                        <div class="toggle">
                            <input type="radio" name="status" value="ready" id="ready-to-go-radio" />
                            <label for="ready-to-go-radio">Ready</label>
                            <input type="radio" name="status" value="notReady" id="not-ready-radio" />
                            <label for="not-ready-radio">Not ready</label>
                        </div>
                    </div>
                    <div class="current-node div">
                    <h3>Current Node Setup</h3>
                        <form id="current-node-form">
                            <div class="form-group">
                                <label for="currentNodeId"> Current Node Id</label>
                                <input required class="small-width" type="number" name="currentNodeId" id="currentNodeId">
                            </div>
                            <div class="form-group">
                                <input formmethod="post" class="btn btn-primary" type="submit" name="submit-current-node-id" value="Confirm" id="submit-current-node-id"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </main>
      </div>
    </div>
</div>

<div id="errorModal" class="modal">
  <div id="errorBody"></div>
</div>
<div id="succRegModal" class="modal">
  <div id="succRegBody"></div>
</div>
<div id="RegErrorModal" class="modal">
  <div id="RegErrorBody"></div>
</div>

</body>
</html>
