<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../static/css/main.css" />

</head>
<body>
    <div th:fragment="showAllOrdersTable" class="tg" id="show-all-client-orders-table">
        <table>
            <thead>
                <tr>
                    <th th:text="#{responseList.id}">Id</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${responseList}">
                    <td th:text="${order.id}">id</td>
                </tr>
            </tbody>
        </table>
    </div>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>